<cq-modal [open]="open()">
  <span title>Select a Music File</span>
  <body>
    <cq-recommended-files (selectedFile)="onFileSelected($event)" />

    <cq-or-divider />

    <cq-url-selector (selectedFile)="onFileSelected($event)" />

    <cq-or-divider />

    <cq-file-selector (selectedFile)="onFileSelected($event)" />

    <div class="mt-4">
      <cq-settings (settingsDataUpdate)="settings.set($event)"></cq-settings>
    </div>
  </body>
  <footer>
    <button
      (click)="open.set(false)"
      class="rounded-lg bg-blue-600 px-6 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 transition"
    >
      Ok
    </button>
  </footer>
</cq-modal>
