<div>
  <form [formGroup]="urlForm">
    <label for="urlSelectorFileInput" class="mb-1 block text-sm font-medium text-gray-700"
      >URL</label
    >
    <input
      name="urlSelectorFileInput"
      formControlName="urlSelectorFileInput"
      type="text"
      id="urlSelectorFileInput"
      placeholder="https://example.com/audio.mp3"
      class="w-full rounded-lg border border-gray-300 px-4 py-2 text-sm focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500/20"
    />
  </form>
</div>
