<div class="row">
  <div class="col-12">
    <h5>Choose a URL</h5>
  </div>

  <form [formGroup]="urlForm" (ngSubmit)="load()">
    <div class="col-12 d-flex">
      <div class="flex-grow-1">
        <mat-form-field class="w-100 pr-2">
          <mat-label>URL</mat-label>
          <input
            name="urlSelectorFileInput"
            formControlName="urlSelectorFileInput"
            matInput
            class="w-100 pl-2"
            type="text"
          />
        </mat-form-field>
      </div>
      <div>
        <button type="submit" mat-raised-button color="primary">Load</button>
      </div>
    </div>
  </form>
</div>
