@use 'tailwindcss';

:root {
  color-scheme: light dark;
}

.text-xxs {
  font-size: 0.625rem;
}

.text-3xs {
  font-size: 0.5rem;
}

@theme {
  --color-background: light-dark(var(--color-white), rgb(9, 13, 18));

  // based on based on https://flowbite.com/docs/customize/variables/
  /* used for brand colors */
  --color-brand-softer: light-dark(var(--color-blue-50), var(--color-slate-900));
  --color-brand-soft: light-dark(var(--color-blue-100), var(--color-slate-800));
  --color-brand-subtle: light-dark(var(--color-blue-200), var(--color-blue-800));
  --color-brand-light: light-dark(var(--color-blue-500), var(--color-blue-600));
  --color-brand: light-dark(var(--color-blue-600), var(--color-blue-400));
  --color-brand-medium: light-dark(var(--color-blue-700), var(--color-blue-300));
  --color-brand-strong: light-dark(var(--color-blue-800), var(--color-blue-300));

  --color-heading: light-dark(var(--color-slate-900), var(--color-slate-50));
  --color-body-strong: light-dark(var(--color-slate-800), var(--color-slate-100));
  --color-body: light-dark(var(--color-slate-600), var(--color-slate-200));
  --color-body-subtle: light-dark(var(--color-slate-500), var(--color-slate-300));
  --color-body-subtler: light-dark(var(--color-slate-400), var(--color-slate-400));

  --color-disabled-strong: light-dark(var(--color-gray-600), var(--color-gray-300));
  --color-disabled-medium: light-dark(var(--color-gray-500), var(--color-gray-400));
  --color-disabled: light-dark(var(--color-gray-400), var(--color-gray-500));
  --color-disabled-soft: light-dark(var(--color-gray-200), var(--color-gray-700));
  --color-disabled-softer: light-dark(var(--color-gray-100), var(--color-gray-800));

  //   /* used for neutral colors */
  --color-neutral-primary-soft: light-dark(var(--color-white), var(--color-slate-900));
  --color-neutral-primary: light-dark(var(--color-white), var(--color-slate-900));
  --color-neutral-primary-medium: light-dark(var(--color-white), var(--color-slate-900));
  --color-neutral-primary-strong: light-dark(var(--color-white), var(--color-slate-900));

  --color-neutral-secondary-soft: light-dark(var(--color-gray-50), var(--color-gray-900));
  --color-neutral-secondary: light-dark(var(--color-gray-50), var(--color-gray-900));
  --color-neutral-secondary-medium: light-dark(var(--color-gray-50), var(--color-gray-900));
  --color-neutral-secondary-strong: light-dark(var(--color-gray-50), var(--color-gray-900));

  // for borders
  --color-default: light-dark(var(--color-gray-200), var(--color-gray-700));
  --color-default-soft: light-dark(var(--color-gray-100), var(--color-gray-800));
  --color-default-softer: light-dark(var(--color-gray-50), var(--color-gray-900));
  --color-default-medium: light-dark(var(--color-gray-300), var(--color-gray-600));
  --color-default-strong: light-dark(var(--color-gray-400), var(--color-gray-500));

  --color-accent-softer: light-dark(var(--color-sky-50), var(--color-sky-300));
  --color-accent: light-dark(var(--color-sky-300), var(--color-sky-100));
  --color-accent-medium: light-dark(var(--color-sky-500), var(--color-sky-50));

  --color-fg-danger: light-dark(var(--color-red-700), var(--color-red-300));
  --color-fg-danger-strong: light-dark(var(--color-red-900), var(--color-red-50));
  --color-danger-subtle: light-dark(var(--color-rose-200), var(--color-rose-800));
  --color-danger-soft: light-dark(var(--color-rose-50), var(--color-rose-900));
  --color-danger: light-dark(var(--color-rose-700), var(--color-rose-400));
  --color-danger-medium: light-dark(var(--color-rose-100), var(--color-rose-800));
  --color-danger-strong: light-dark(var(--color-rose-800), var(--color-rose-200));
}
