<!-- the actual bootstrap modal -->
<ng-template #modal let-modal>
  <h4 mat-dialog-title>Loading...</h4>
  <mat-dialog-content>
    <div>{{ loadingMessage() }}</div>
    @if (loadingPercentage()) {
      <h4>{{ loadingPercentage() | percent }}</h4>
    }
  </mat-dialog-content>
</ng-template>

<div class="container-fluid">
  <div class="text-center">
    <h2>Constant Q Transform</h2>
  </div>
  <mat-expansion-panel #expansionPanel [expanded]="true" class="mb-5">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="font-italic">File Selection and Settings</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-lg-9 col-md-8 pr-3">
        <div class="row">
          <div class="col-md-12 mb-4">
            <recommended-files (selectedFile)="onFileChange($event)"></recommended-files>
          </div>
          <div class="col-md-12 mb-4">
            <url-selector (selectedFile)="onFileChange($event)"></url-selector>
          </div>
          <div class="col-md-12 mb-4">
            <file-selector (selectedFile)="onFileChange($event)"></file-selector>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 pl-3">
        <settings (settingsDataUpdate)="settings.set($event)"></settings>
      </div>
    </div>
  </mat-expansion-panel>

  <div class="row text-center">
    <!-- if controls should be shown (i.e. an audio file has been selected), 
        visualizes the music -->
    @if (showControls()) {
      <div class="col-md-12 pl-5 pr-5">
        <audio-visualizer
          [title]="title()"
          [pitches]="noteLetters()"
          [pitchData]="curPitches() ?? []"
          [max]="graphMax()"
        >
        </audio-visualizer>
      </div>

      <!-- if controls should be shown (i.e. an audio file has been selected), 
        provides playback for the audio file -->
      <div class="col-md-12 pl-5 pr-5">
        <audio-player />
      </div>
    }
  </div>
  <div style="margin-bottom: 50px"></div>
</div>
